<mat-sidenav-container autosize="autosize" [hasBackdrop]="false">
  <mat-sidenav #panel mode="side" position="end" [fixedInViewport]="true" class="hero-mat-sidenav">
    <app-hero-preview
      [hero]="selectedHero"
      (closePanel)="closePanel()"
      (refresh)="updateHero()"
      role="hero-preview"></app-hero-preview>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container unset-width">
      <div class="row">
        <div class="d-flex col justify-content-center">
          <h1>Heroes</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-table [dataSource]="dataSource" matSort class="hero-table">
            <ng-container matColumnDef="image">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <img [src]="row?.images?.xs" [alt]="row?.name" />
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header="id">Id</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.id }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="slug">
              <mat-header-cell *matHeaderCellDef mat-sort-header="slug">Slug</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.slug }} </mat-cell>
            </ng-container>

            <mat-header-row class="hero-table-head" *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
              role="hero-row"
              class="hero-row"
              matRipple
              *matRowDef="let row; columns: displayedColumns"
              (click)="openPanel(row)"></mat-row>
          </mat-table>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-paginator class="hero-table-footer" [pageSizeOptions]="[10, 20]" showFirstLastButtons> </mat-paginator>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
